{{#unless categories}} 
    <div class="col-md-12 text-center">
    <strong>{{message}}</strong>
  </div>
{{/unless}}

<h2>Categories</h2>
<hr />
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Category ID</th>
        <th scope="col">Category Name</th>
      </tr>
    </thead>
    <tbody>
        {{#each categories}}
      <tr>
        <td><a href="/posts?category={{id}}">{{id}}</a></td>
        <td><a href="/posts?category={{id}}">{{category}}</a></td>
      </tr>
    {{else}}
      <tr>
        <td colspan="4">No Data Available</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
