<h2>Categories
  <a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
<hr />
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Category ID</th>
        <th scope="col">Category Name</th>
      </tr>
    </thead>
    {{#if categories}}
      <tbody>
        {{#each categories}}
          <tr>
            <td><a href="/posts?category={{id}}">{{id}}</a></td>
            <td><a href="/posts?category={{id}}">{{category}}</a></td>
            <td><a href="categories/delete/{{id}}" class="btn btn-danger">Remove</a></td>
          </tr>
        {{/each}}
      </tbody>
    {{else}}
      <tbody>
        <tr>
          <td colspan="2" class="text-center">{{message}}</td>
        </tr>
      </tbody>
    {{/if}}
  </table>
</div>